.snowflake {
    position: absolute;
    top: -10px;
    background: white;
    border-radius: 50%;
    filter: blur(1px);
    animation: fall linear infinite;
}

@keyframes fall {
    0% {
        transform: translateY(-10vh) translateX(0);
    }

    100% {
        transform: translateY(110vh) translateX(20px);
    }
}